@{
    ViewBag.Title = "Consulta de Cercanía";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <input type="text" placeholder="¿Qué buscás?" name="palabraClave">
    <input type="submit" value="Buscar">
}

<p>@ViewBag.Search</p>