body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: Roboto;
    color: #333;
    font-size:  13pt;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    font-size:  17pt;
}

.nav {
    text-transform: uppercase;
}

.navbar-inverse .navbar-nav > li > a {
    transition: 0.5s;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea, button {
    max-width: 280px;
    font-family: roboto;
    padding: 10px;
    border-radius: 5px;
    font-size: 15pt;
    border: 1px solid #eee;
    outline: 0;
}

input:focus, select:focus, textarea:focus {
    border: 1px solid #AAFF00;
    box-shadow: 0 0 10px #AAFF00;
}

button {
    text-transform: uppercase;
    transition: 0.5s;
    -moz-transition: 0.5s;
}

button.call-to-action {
    background-color:#AAFF00;
    color:#333;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Slabo 13px';
}

.result {
    padding: 15px;
    border-radius: 5px;
    margin: 10px 0;
}

.ok {
    border: 1px solid #AAFF00;
    background-color: #D8FF8A;
}

.error {
    border: 1px solid #FFAA00;
    background-color: #FFE0A3;
}