@{
    ViewBag.Title = "Busqueda";
}


@section scripts{
    <script type="text/javascript">
   $(document).ready(function () {

       $("#agregar").on("click", function () {
           var valor = $("#nombre_ip").val();

           if (valor != "") {
               $("#busquedas").append('<tr>  <td>' + valor + '<a class="eliminarOpcion"> eliminar </a></td> </tr>');

               $("#nombre_ip").val("");

           } else {
               alert("Ingrese un criterio de búsqueda");
           }
       });



   });

   $(document).on('click', ".eliminarOpcion", function () {
       $(this).parent().parent().remove();
   });

   $("#buscar").on("click", function () {

       $.getJSON("../api/POIs/", function (data) {

           $.each(data, function (i, poi) {
               $("#ResultadoBusqueda").append('<tr><th onclick="detallePoi('+ poi.id +')">' + poi.nombreDePOI
                   + '</th><th> ' + poi.calle + '</th></tr>');

           });

       });
   });

   function detallePoi(id) {
       var url = "../api/POIs/" + id;
       $.getJSON(url, function (data) {

           var dialog = $('#dialogPoi');
           dialog.modal('show');
           dialog.find('.modal-title').text(data.nombreDePOI);

           switch (data.tipoDePOI) {
               case "paradaDeColectivo":

                   dialog.find('.modal-body').html('<img src= "../../Content/img/bus.png" alt="Image" />');
                   dialog.find('.modal-body').append("<p> Linea de Colectivo: " + data.lineaDeColectivo + "</p>");

                   ; break;

               case "localComercial":
                   dialog.find('.modal-body').html('<img src= "../../Content/img/store.png" alt="Image" />');
                   dialog.find('.modal-body').append("<p> Dirección: " + data.calle + "</p>");
                   dialog.find('.modal-body').append("<p> Nombre comercial o de fantasia: " + data.nombreDePOI + "</p>");
                   dialog.find('.modal-body').append("<p> Rubro: " + data.rubro + "</p>");

                   ; break;

               case "cgp":
                   dialog.find('.modal-body').html('');
                   ; break;

               case "banco":
                   
                   dialog.find('.modal-body').html('<img src= "../../Content/img/bank.png" alt="Image" />');
                   dialog.find('.modal-body').append("<p> Dirección: " + data.calle + "</p>");
                   dialog.find('.modal-body').append("<p> Zona que le corresponde: " + data.barrio + "</p>");
                   dialog.find('.modal-body').append("<p> Lista de servicios que presta: " + data.lineaDeColectivo + "</p>");
                   ; break;
               default:

           }





       });
   }


    </script>
}
<div class="container">
    <h1 style="text-align:center">Criterio de Búsqueda</h1>

    <h2>Nombre </h2>
    <input type="text" id="nombre_ip" style="margin-right:20px" /> <input type="button" id="agregar" value="Agregar " style="margin-right:20px" /> <input type="button" id="buscar" value="Buscar " style="margin-right:20px" />
    <div>
        <table class="table table-bordered">            
            <tbody id="busquedas">
               
                
            </tbody>
        </table>
    </div>
    </div>


<div class="container">
    <h2><b>Resultados</b></h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Direccion</th>
            </tr>
        </thead>
        <tbody id="ResultadoBusqueda">
            
      
            
        </tbody>
    </table>
</div>



<div class="modal fade" tabindex="-1" role="dialog" id="dialogPoi">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">

                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->