@{
    ViewBag.Title = "Búsqueda de puntos";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>



@using (Html.BeginForm("Location", "Home", FormMethod.Post))
{
    <input type="text" placeholder="¿Qué buscás?" name="palabraClave">
    <button type="submit">Buscar</button>
}
<div class="result @ViewBag.Search">
    @foreach (string text in ViewBag.SearchText)
    {
        @Html.Label(text)
        <br />
    }

</div>
