@model TPDDSGrupo44.Models.ConfiguracionDeAcciones

@{
    ViewBag.Title = "Acciones Ante La Búsqueda";
}

@section scripts{
    <script type="text/javascript">
        $(function (){
            $.getJSON("/Home/Acciones/List", function(data){
                var items = "<option>-------------------------</option>";
                $.each(data, function (i, country){
                    items += "<option value='" +country.Value + "'>" + country.Text + "</option>";
                });
                $("#Acciones").html(items);
            });
        });
    </script>    
}

<h1>@ViewBag.Title</h1>



@using (Html.BeginForm())
{
    
    <select id="Acciones" name="Acciones"></select>
    <input type="submit" value="AGREGAR"/>

    <br />
    <h2>_______________________________________________________________________________</h2>
    <h3>Acciones</h3>
    <h4>_________________________________________________________________________________________________________________________________</h4>
    
   
    <label for="Acciones">Totalizar por Fecha   </label>    <input type="submit" value="Eliminar" />
    <br />
    <label for="Acciones">Totalizar por Usuario </label>    <input type="submit" value="Eliminar" />

    <br />
    <h7>___________________________________________________________________________________________</h7>
    <br />
    <input type="submit" value="OK" />

    <input type="submit" value="Cancelar" />
}

