@model TPDDSGrupo44.Models.ConfiguracionDeAcciones

@{
    ViewBag.Title = "Acciones Ante La Búsqueda";
}

@section scripts{
    <script type="text/javascript">
        $(function (){
            $.getJSON("/Home/Acciones/List", function(data){
                var items = "<option>-------------------------</option>";
                $.each(data, function (i, country){
                    items += "<option value='" +country.Value + "'>" + country.Text + "</option>";
                });
                $("#Acciones").html(items);
            });
        });
    </script>    
}

<h1>@ViewBag.Title</h1>



@using (Html.BeginForm())
{
    <label for ="Acciones">Acciones</label>
    <select id="Acciones" name="Acciones"></select>
    <input type="submit" value="AGREGAR"/>

    <br />
    <h2>____________________________________________</h2>
    <h3>Acciones</h3>
    <h4>__________________________________________________</h4>
    <br />

    <h5>Totalizar por fecha    <input type="submit" value="Eliminar" /> </h5>
    <h6>Totalizar por usuario    <input type="submit" value="Eliminar" /></h6>

    <h7>____________________________________________</h7>
    <br />
    <input type="submit" value="OK" />

    <input type="submit" value="Cancelar" />
}

