@model TPDDSGrupo44.Models.ConfiguracionDeAcciones

@{
    ViewBag.Title = "Acciones Ante La Búsqueda";
}

@section scripts{
    <script type="text/javascript">
        $(function (){
            $.getJSON("/Home/Acciones/List", function(data){
                var items = "<option>-------------------------</option>";
                $.each(data, function (i, country){
                    items += "<option value='" +country.Value + "'>" + country.Text + "</option>";
                });
                $("#Acciones").html(items);
            });
        });

       

        $("#agregarAccion").on('click',function () {
            var valor = $("#Acciones").val();
            var texto = $("#Acciones option:selected").text();
            var exist = 0;

            

            $(".itemAgregado").each(function () {
                if ($(this).val() == valor) {
                    exist = 1;
                }
            });

            if (exist == 0) {
                console.log("agregar item no existente");
                $("#accionesSeleccionadas").append('<li><input type="hidden" value="' + valor + '" class="itemAgregado"/><label>' + texto + '  </label>    <input type="button" value="Eliminar" class="deleteItem" /></li>');

            } else {
                alert("Acción ya agregada.");
            }
        });

        $("·deleteItem").click(function () {
            alert("eliminar");
            $(this).parent().remove();
        });

        
    </script>    
}

<h1>@ViewBag.Title</h1>



@using (Html.BeginForm())
{
    
    <select id="Acciones" name="Acciones"></select>
    <input type="button" value="AGREGAR" id="agregarAccion"/>

    <br />
    <h2>_______________________________________________________________________________</h2>
    <h3>Acciones</h3>
    <h4>_________________________________________________________________________________________________________________________________</h4>
    <div>
        <ul style="list-style: none;" id="accionesSeleccionadas">
         
        </ul>
    </div>
    <h7>___________________________________________________________________________________________</h7>
    <br />
    <input type="submit" value="OK" />

    <input type="button" value="Cancelar" />
}

